body{
  margin: 0;
}
a {
  color:black;
  font-weight: bold;
}
h1{
  font-size:45px;
  margin:0;
  padding: 40px 0px;
  text-align: center;
  border-bottom:5px solid black;
  text-decoration: none;
}
ol{
  margin:0;
  padding:50px;
  border-right:5px solid black;
  width:200px;
  font-size:25px;
  font-weight: bold;
}
img{
  display: block; margin: 0 auto;
  padding: 50px 0px;
}
p{
  text-align: center;
}
#grid {
  display: grid;
  grid-template-columns: 300px 1fr;
  width: 200px;
  padding-left:40px;
}
#grid #article{
  padding:  1em 0px 30px 0px;
  text-align: center;
  margin: 0;
  width: 1400px; height: 800px;
}
@media(max-width:800px){
  #grid {
    display: block;
  }
  ol{
    border-right:none;
  }
  h1{
    border-bottom:none;
  }
}
